
.h1,h1{
    font-size:calc($typeHeaderSize*0.75);
    font-weight: $typeWeightBold;
    letter-spacing: $typeHeaderSpacing;
    color: $colorBase;
  }
  
  .h2,h2{
    font-size:calc($typeHeaderSize*0.73);
    font-weight: $typeWeightBold;
    letter-spacing: $typeHeaderSpacing;
    color: $colorBase;
  }
  
  .h3,h3{
    font-size:calc($typeHeaderSize*0.45);
    font-weight: $typeWeightBold;
    letter-spacing: $typeHeaderSpacing;
    color: $colorBase;
  }
  
  .h4,h4{
    font-size:calc($typeHeaderSize*0.3);
    font-weight: $typeWeightBold;
    letter-spacing: 2.5px;
    color: $colorBase;
  }

  p {
      font-size: $typeBaseSize;
  }

  a {
    text-decoration: none;
    color: $colorBase;
  }

  @include md {
    .h1,h1{
        font-size:$typeHeaderSize;
      }
    
      .h2,h2{
        font-size:calc($typeHeaderSize*0.86);
        margin: 0 0 25px;
      }
    
      .h3,h3{
        font-size:calc($typeHeaderSize*0.73);
      }
    
      .h4,h4{
        font-size:calc($typeHeaderSize*0.4);
        line-height: 1.1;
      }
}