
// Colours
$colorHeader: var(----color-base-text);
$colorBase: vaar(----color-base-text);
$colorYellow: #FFEE6E;

$typeHeaderSize: 54px;
$typeBaseSize: 14px;
$typeBaseSmallSize: 12px;

$typeHeaderSpacing: -1px;

$fontWeightBold: 700;
$fontWeightNormal: 400;


$screen-md-min: 750px;
$screen-lg-min: 990px;


$border-radius-small: 6px;
$border-radius: 12px;