
// Colours
$colorHeader: #1e1e95;
$colorBase: #1e1e95;
$colorYellow: #FFEE6E;
$colorBorder: #eee;

$typeHeaderSize: 45px;
$typeBaseSize: 14px;
$typeBaseSmallSize: 12px;

$typeHeaderSpacing: -1.5px;

$typeWeightBold: 700;
$typeWeightNormal: 400;


$screen-md-min: 750px;
$screen-lg-min: 990px;


$border-radius-small: 6px;
$border-radius: 12px;